<aside class="app-sidebar">
  <nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Dashboard</a></li>
      <li><a routerLink="/trucks" routerLinkActive="active-link">Gerenciar Caminhões</a></li>
      <li><a routerLink="/collection-points" routerLinkActive="active-link">Gerenciar Pontos de Coleta</a></li>
      <li><a routerLink="/routes" routerLinkActive="active-link">Gerenciar Rotas</a></li>
      <li><a routerLink="/itineraries" routerLinkActive="active-link">Planejar Itinerários</a></li>
    </ul>
  </nav>
</aside>
