@use '../../../styles/partials/form-page' as form-page;

:host {
  @include form-page.form-page-styles;
}

.btn {
  &-primary {
    background-color: var(--primary-action-bg, #28a745);
    border-color: var(--primary-action-bg, #28a745);
  }
}
